.about-us {
    text-align: center;
    padding: 20px;
}

.company-info, .staff-info {
    margin-bottom: 20px;
}

.staff-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* This will allow the cards to wrap to the next line if there's not enough space */
}

.staff-card {
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}