.home {
    text-align: center;
}

.home-header {
    background-color: #f8f9fa;
    padding: 20px;
}

.home-main {
    padding: 20px;
}

.home-categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.home-category {
    width: 150px;
}

.carouselagus {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel-itemagus {
    flex: 0 0 auto;
    width: 200px;
    height: 100px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.logos img {
    margin: 0 40px;
}