.login-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center;
    padding-top: 50px; /* Adjust this value to move the page closer or further from the top */
    height: calc(80vh - 50px); /* Subtract the top padding from the height to prevent overflow */
    background-color: #BBE1FA;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #1B262C;
    color: #BBE1FA;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0F4C75;
    color: #BBE1FA;
}

.login-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3282B8;
    color: #BBE1FA;
    cursor: pointer;
}

.login-button:hover {
    background-color: #BBE1FA;
    color: #1B262C;
}

.register-link {
    color: #BBE1FA;/* Change this to the color you want */
    text-decoration: none; /* Removes the underline */
}
