.navbaragus {
    background-color: #1B262C;
    padding: 10px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav-linkagus {
    text-decoration: none;
    color: #BBE1FA;
    font-size: 18px;
}

.nav-linkagus:hover {
    color: #3282B8;
}