.novedades-paragraph {
    color: #1B262C;
  }
.novedades-container {
    color: #BBE1FA;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.user-info {
    border: 2px solid #0F4C75;
    padding: 20px;
    border-radius: 10px;
}

.logout-button, .add-novedad-button {
    background-color: #3282B8;
    color: #BBE1FA;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.logout-button:hover {
    background-color: #0F4C75;
}

.delete-button {
    background-color: #FF6347; /* Tomato red color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-button:hover {
    background-color: #FF4500;
}

.novedad {
    border: 2px solid #1B262C;
    border-radius: 10px;
    background-color: #BBE1FA;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .novedad h2 {
    margin-top: 0;
    color: #333;
  }
  
  .novedad h3 {
    color: #666;
  }
  
  .novedad p {
    color: #999;
  }
  
  .novedad input,
  .novedad textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .novedad button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .novedad button:hover {
    background-color: #0056b3;
  }

  .novedad-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .novedad-form input,
  .novedad-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .novedad-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .novedad-form button:hover {
    background-color: #0056b3;
  }